body {
	background:#eee;
	color:#242424;
	margin:0px auto;
	font-weight: normal; 
	font-family: Geneva, Tahoma, Verdana, sans-serif;
}
#main {
	width:1020px;
	margin:auto;
	background:#fff;
	padding:20px;
}