<html>
<link rel='stylesheet' type='text/css' href="/public/style.css" />
<body>
<div id="main">
	<h1>Create a new page</h1>
	<form type="POST">
		<row>
			<label>Title</label>
			<input type="text" name="title">
		</row>
		<row>
			<label>URL</label>
			<input type="text" name="url">
		</row>
		<row>
			<label>Body</label>
			<textarea type="text" name="url" rows="4"></textarea>
		</row>
		<row>
			<input class="btn" type="submit" value="Submit">
		</row>
	</form>
</div>
</body>
</html>