<html>
<link rel='stylesheet' type='text/css' href="/public/style.css" />
<body>
<div id="main">
	<h1>Create a new page</h1>
	<form id="create-form">
		<row>
			<label>Title</label>
			<input type="text" name="title">
		</row>
		<row>
			<label>URL</label>
			<input type="text" name="url">
		</row>
		<row>
			<label>Body</label>
			<textarea type="text" name="body" rows="4"></textarea>
		</row>
		<row>
			<button class="btn submit" type="submit">Submit</button>
		</row>
	</form>
</div>
<script src="https://code.jquery.com/jquery-2.2.3.js"></script>
<script src="/public/util.js"></script> 
</body>
</html>