<html>
<head>
<link rel='stylesheet' type='text/css' href="/public/style.css" />
</head>
<body>
<div id="header">
<ul id="nav">
<a href="/"><li>HOME</li></a>
<a href="https://github.com/lyninx/go_web/blob/master/README.md"><li>ABOUT</li></a>
</ul>
</div>